#header-wrapper{
    background:url('../images/library.jpg');
    background-size:cover;
}
#banner p{
    margin-top:17px;
}
.second{
    margin-left:20px;
}
.hide{
    display: none;
}
.footCon{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
@media screen and (max-width:1090px){
    #header .inner h1{
        font-size:1rem;
    }
}